name: GCC Conan

# This workflow is triggered on pushes to the repository.
on: [push]

env:
  SINTEF_REFERENCE: "ogre3d*"
  SINTEF_CONAN_CLASS: "Ogre3dConan"
  CONAN_UPLOAD: "https://api.bintray.com/conan/sintef-ocean/conan"
  CONAN_PASSWORD_SINTEF: ${{ secrets.BINTRAY_API_KEY }}
  CONAN_LOGIN_USERNAME_SINTEF: ${{ secrets.BINTRAY_USER }}
  CONAN_NON_INTERACTIVE: True
  CONAN_USE_ALWAYS_SHORT_PATHS: True
  CONAN_REVISIONS_ENABLED: 0

jobs:
  conan-with-gcc:
    name: Conan
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        compiler_version: [6, 7, 8, 9]
        build_type: [Debug, Release]
        os: [ubuntu-20.04]
    container:
      image: conanio/gcc${{ matrix.compiler_version }}
      options: -u 0
    steps:
      - uses: actions/checkout@v2
      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo pip3 install --upgrade setuptools pip mako
          sudo pip3 install conan requests
      - name: Configure Conan
        run: |
          conan remote add sintef ${CONAN_UPLOAD} --insert 0
          conan remote add utopia https://api.bintray.com/conan/konradnotantoo/utopia
          conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      - name: Conan create
        run: |
          if [ ${{ matrix.compiler_version }} -eq 6 ]; then
              export SINTEF_BUILD_FLAG="-b missing -b outdated -b libx11 -b expat"
          else
              export SINTEF_BUILD_FLAG="-b missing -b outdated"
          fi
          echo "Build policy: ${SINTEF_BUILD_FLAG}"
          conan create -s build_type=${{ matrix.build_type }} \
            -s compiler.version=${{ matrix.compiler_version }} \
            -s compiler.libcxx=libstdc++11 \
            . sintef/stable ${SINTEF_BUILD_FLAG} -b ogre3d
      - name: Conan upload
        run: |
          conan upload --all -c -r sintef ${SINTEF_REFERENCE} --retry 10 --retry-wait 20 --force
          conan upload --all -c -r sintef xz_utils --retry 10 --retry-wait 20 --force
          conan upload --all -c -r sintef freeimage --retry 10 --retry-wait 20 --force
          conan upload --all -c -r sintef libx11 --retry 10 --retry-wait 20 --force
      - name: Bintray info
        run: |
          python3 bintray.py ${SINTEF_CONAN_CLASS} \
            ${CONAN_LOGIN_USERNAME_SINTEF} ${CONAN_PASSWORD_SINTEF}
